model_name: VibeVoice vLLM ASR
model_metadata:
  example_model_input: # Loads sample request into Baseten playground
    model: "microsoft/VibeVoice-ASR"
    messages:
      - role: system
        content: "You are a helpful assistant that transcribes audio input into text output in JSON format."
      - role: user
        content:
          - type: audio_url
            audio_url:
              url: "https://cdn.baseten.co/docs/production/Gettysburg.mp3"
          - type: text
            text: "Please transcribe it with these keys: Start time, End time, Speaker ID, Content"
    stream: false
    max_tokens: 8192
    temperature: 0.0
    top_p: 1.0
    repetition_penalty: 1.0
base_image:
  image: vllm/vllm-openai:v0.14.0
model_cache:
  - repo_id: microsoft/VibeVoice-ASR
    revision: main
    use_volume: true
    volume_folder: vibevoice-asr
build_commands:
  - apt-get update && apt-get install -y git && rm -rf /var/lib/apt/lists/*
  - pip install vllm[audio]
  - git clone https://github.com/microsoft/VibeVoice.git /app/VibeVoice && cd /app/VibeVoice && uv pip install --system -e ".[vllm]"
docker_server:
  start_command: >-
    sh -c "GPU_COUNT=$(nvidia-smi --list-gpus | wc -l);
    export HF_TOKEN=$(cat /secrets/hf_access_token);
    truss-transfer-cli &&
    python3 -m vllm_plugin.tools.generate_tokenizer_files --output /app/model_cache/vibevoice-asr &&
    vllm serve /app/model_cache/vibevoice-asr
    --served-model-name microsoft/VibeVoice-ASR
    --trust-remote-code
    --dtype bfloat16
    --max-num-seqs 64
    --max-model-len 65536
    --max-num-batched-tokens 32768
    --gpu-memory-utilization 0.8
    --enforce-eager
    --no-enable-prefix-caching
    --enable-chunked-prefill
    --chat-template-content-format openai
    --allowed-local-media-path /app
    --host 0.0.0.0
    --port 8000
    -tp $GPU_COUNT"
  readiness_endpoint: /health
  liveness_endpoint: /health
  predict_endpoint: /v1/chat/completions
  server_port: 8000
runtime:
  predict_concurrency: 64
resources:
  accelerator: H100
  use_gpu: true
system_packages:
  - ffmpeg
  - libsndfile1
environment_variables:
  VIBEVOICE_FFMPEG_MAX_CONCURRENCY: 64
  PYTORCH_ALLOC_CONF: expandable_segments:True
secrets:
  hf_access_token: null
