description: "mistralai/Mixtral-8x22B-Instruct-v0.1 for text generation"
build_commands: []
environment_variables: {}
external_package_dirs: []
model_metadata:
  tags:
    - openai-compatible
  example_model_input:
    {
      messages:
        [
          {
            role: "system",
            content: "You are a knowledgable, engaging, geology teacher.",
          },
          {
            role: "user",
            content: "What is the impact of the Mistral wind on the French climate?",
          },
        ],
      stream: true,
      max_tokens: 512,
      temperature: 0.9,
    }
  repo_id: mistralai/Mixtral-8x22B-Instruct-v0.1
model_name: Mistral 8x22B Instruct
python_version: py39
requirements: []
resources:
  accelerator: H100:2
  cpu: "1"
  memory: 24Gi
  use_gpu: true
secrets:
  hf_access_token: set token in baseten workspace
system_packages: []
trt_llm:
  build:
    base_model: decoder
    checkpoint_repository:
      repo: mistralai/Mixtral-8x22B-Instruct-v0.1
      source: HF
    max_seq_len: 8192
    num_builder_gpus: 4
    quantization_type: fp8_kv
    tensor_parallel_count: 2
