build_commands: []
environment_variables: {}
external_package_dirs: []
model_metadata:
  example_model_input:
    encoding_format: float
    input: text string
    model: model
model_name: BEI-snowflake-snowflake-arctic-embed-l-v2.0-truss-example
python_version: py39
requirements: []
resources:
  accelerator: A100
  cpu: '1'
  memory: 10Gi
  use_gpu: true
secrets: {}
system_packages: []
trt_llm:
  build:
    base_model: encoder
    checkpoint_repository:
      repo: Snowflake/snowflake-arctic-embed-l-v2.0
      revision: main
      source: HF
    max_num_tokens: 16384
  runtime:
    webserver_default_route: /v1/embeddings
