model_metadata:
  example_model_input:
    max_tokens: 512
    messages:
    - content: Tell me everything you know about optimized inference.
      role: user
    stream: true
    temperature: 0.5
  tags:
  - openai-compatible
model_name: Briton-mistralai-mistral-7b-instruct-v0.3-truss-example
python_version: py39
resources:
  accelerator: A10G:2
  cpu: '1'
  memory: 10Gi
  use_gpu: true
trt_llm:
  build:
    base_model: llama
    checkpoint_repository:
      repo: mistralai/Mistral-7B-Instruct-v0.3
      revision: main
      source: HF
    max_seq_len: 32768
    quantization_type: no_quant
    tensor_parallel_count: 2
  runtime:
    enable_chunked_context: true
