# # Set up the config.yaml
#
# The main section that needs to be filled out
# to run CLIP is the `requirements` section, where we need
# to include `transformers`, for the model pipeline, and `pillow`,
# for image processing.
model_name: clip-example
requirements:
- transformers==4.32.0
- pillow==10.0.0
- torch==2.0.1
model_metadata:
  example_model_input: {"url": "https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&w=1600"}
resources:
  cpu: "3"
  memory: 14Gi
  use_gpu: true
  accelerator: A10G
# # Deploy the model
#
# Deploy the CLIP model like you would other Trusses, with:
# ```bash
# $ truss push
# ```
# You can then invoke the model with:
# ```bash
# $ truss predict -d '{"image_url": "https://source.unsplash.com/gKXKBY-C-Dk/300x300""]}' --published
# ```