apply_library_patches: true
base_image:
  image: docker.io/baseten/triton_trt_llm:4062d46_20240401
  python_executable_path: /usr/bin/python3
build:
  arguments:
    engine_repository: baseten/llama-3-70b_fp8_tp2_i4096_o1024_bs30-tllm_0.9.0.dev2024022000
    pipeline_parallel_count: 1
    tensor_parallel_count: 2
    tokenizer_repository: baseten/Meta-Llama-3-Instruct-tokenizer
bundled_packages_dir: packages
data_dir: data
description: Generate text from a prompt with this eight billion parameter language
  model.
environment_variables: {}
examples_filename: examples.yaml
external_data: null
external_package_dirs: []
input_type: Any
live_reload: false
model_class_filename: model.py
model_class_name: Model
model_framework: custom
model_metadata:
  tags:
  - text-generation
  - openai-compatible
model_module_dir: model
model_name: Llama3 70B Instruct TRT-LLM
model_type: Model
python_version: py311
requirements:
- tritonclient[all]
- transformers
- jinja2
resources:
  accelerator: H100:2
  use_gpu: true
runtime:
  num_workers: 1
  predict_concurrency: 512