base_image:
  image: nvcr.io/nvidia/tritonserver:23.10-trtllm-python-py3
  python_executable_path: /usr/bin/python3
description: Generate text from a prompt with this seven billion parameter language model.
model_metadata:
  avatar_url: https://cdn.baseten.co/production/static/explore/meta.png
  cover_image_url: https://cdn.baseten.co/production/static/explore/llama.png
  engine_repository: baseten/llama_7b_bs_64_kv_4k
  example_model_input: {"prompt": "What's the meaning of life?", "max_tokens": 1024}
  tags:
  - text-generation
  tensor_parallelism: 1
  tokenizer_repository: NousResearch/Llama-2-7b-chat-hf
model_name: Llama 7B Chat TRT
python_version: py311
requirements:
- tritonclient[all]
resources:
  accelerator: A100
  use_gpu: true
runtime:
  predict_concurrency: 256
