model_name: Chatterbox TTS
python_version: py311
requirements: []
build_commands:
  - "pip install --upgrade pip setuptools wheel"
  - "pip install numpy"
  - "pip install chatterbox-tts"
resources:
  accelerator: A100
  cpu: '1'
  memory: 40Gi
  use_gpu: true
secrets:
  hf_access_token: null
