model_metadata:
  example_model_input:
    encoding_format: float
    input: text string
    model: model
model_name: BEI-baai-bge-en-icl-embedding-fp8-truss-example
python_version: py39
resources:
  accelerator: H100
  cpu: '1'
  memory: 10Gi
  use_gpu: true
trt_llm:
  build:
    base_model: encoder
    checkpoint_repository:
      repo: BAAI/bge-en-icl
      revision: main
      source: HF
    max_num_tokens: 32768
    num_builder_gpus: 2
    quantization_type: fp8
  runtime:
    webserver_default_route: /v1/embeddings
