base_image:
  image: public.ecr.aws/q9t5s3a7/vllm-ci-postmerge-repo:8a4a2efc6fc32cdc30e4e35ba3f8c64dcd0aa1d0
build_commands:
  - pip install git+https://github.com/huggingface/transformers@071a161d3e38f56dbda2743b979f0afeed2cd4f1
model_metadata:
  repo_id: google/gemma-3-27b-it
  example_model_input: {
    "model": "gemma",
    "messages": [
      {
      "role": "user",
      "content": [
        {
        "type": "text",
        "text": "Describe this image in one sentence."
        },
        {
        "type": "image_url",
        "image_url": {
          "url": "https://picsum.photos/id/237/200/300"
        }
        }
      ]
      }
    ],
    "stream": true,
    "max_tokens": 512,
    "temperature": 0.5
  }
  tags:
  - openai-compatible
docker_server:
  start_command: "sh -c \"truss-transfer-cli && VLLM_USE_V1=1 HF_TOKEN=$(cat /secrets/hf_access_token) vllm serve /app/model_cache/gemma --served-model-name gemma --max-num-seqs 8 --max-model-len 16384 --limit_mm_per_prompt 'image=1' --hf-overrides '{\\\"do_pan_and_scan\\\": true}' --gpu-memory-utilization 0.95\""
  readiness_endpoint: /health
  liveness_endpoint: /health
  predict_endpoint: /v1/chat/completions
  server_port: 8000
environment_variables:
  VLLM_LOGGING_LEVEL: INFO
  hf_access_token: null
model_cache:
  - repo_id: google/gemma-3-27b-it
    revision: 005ad3404e59d6023443cb575daa05336842228a
    use_volume: true
    volume_folder: gemma
requirements:
- huggingface_hub
- hf_transfer
- datasets
resources:
  accelerator: H100
  use_gpu: true
secrets:
  hf_access_token: null
runtime:
  health_checks:
    restart_check_delay_seconds: 300      # Waits 5 minutes after deployment before starting health checks
    restart_threshold_seconds: 300       # Triggers a restart if health checks fail for 5 minutes
    stop_traffic_threshold_seconds: 120  # Stops traffic if health checks fail for 2 minutes
  predict_concurrency : 8
  truss_server_version_override: "0.11.4"
model_name: Gemma 27B Instruct
