environment_variables: {}
external_package_dirs: []
description: Generate text with an instruction-tuned version of Mistral 7B.
model_metadata:
  example_model_input: {"prompt": "What is the Mistral wind?"}
  pretty_name: Mistral 7B Instruct
  avatar_url: https://cdn.baseten.co/production/static/explore/mistral_logo.png
  cover_image_url: https://cdn.baseten.co/production/static/explore/mistral.png
  tags:
  - text-generation
model_name: Mistral 7B Instruct
model_framework: custom
model_type: custom
python_version: py311
requirements:
- sentencepiece
- accelerate
- transformers==4.34.0
- torch==2.0.1
resources:
  accelerator: A10G
  use_gpu: true
  memory: 25Gi
secrets: {}
system_packages: []