environment_variables:
  ENABLE_EXECUTOR_API: '1'
model_metadata:
  example_model_input:
    max_tokens: 512
    messages:
    - content: Tell me everything you know about optimized inference.
      role: user
    stream: true
    temperature: 0.5
  tags:
  - openai-compatible
model_name: Briton-meta-llama-llama-3.1-405b-fp8-truss-example
python_version: py39
resources:
  accelerator: H100:8
  cpu: '1'
  memory: 10Gi
  use_gpu: true
secrets:
  hf_access_token: null
trt_llm:
  build:
    base_model: llama
    checkpoint_repository:
      repo: meta-llama/Llama-3.1-405B
      revision: main
      source: HF
    max_seq_len: 131072
    plugin_configuration:
      use_fp8_context_fmha: true
    quantization_type: fp8_kv
    tensor_parallel_count: 8
  runtime:
    enable_chunked_context: true
