base_image:
  image: vshulman/ampere-truss-custom-text-embeddings-inference:1.0
  python_executable_path: /usr/bin/python
build:
  arguments:
    model_id: nomic-ai/nomic-embed-text-v1.5
  model_server: TrussServer
environment_variables: {}
external_package_dirs: []
model_cache:
- repo_id: nomic-ai/nomic-embed-text-v1.5
model_metadata: {}
model_name: TEI Experiment
python_version: py39
runtime:
  predict_concurrency: 512
requirements: []
resources:
  accelerator: A100
  cpu: '1'
  memory: 2Gi
  use_gpu: true
secrets: {}
system_packages:
- python3.10-venv
