base_image:
  image: docker.io/baseten/triton_trt_llm:v2
  python_executable_path: /usr/bin/python3
description: Generate text from a prompt with this seven billion parameter language model.
model_metadata:
  avatar_url: https://cdn.baseten.co/production/static/explore/mistral_logo.png
  cover_image_url: https://cdn.baseten.co/production/static/explore/mistral.png
  engine_build:
    args: --remove_input_padding --use_gpt_attention_plugin float16 --enable_context_fmha --use_gemm_plugin float16 --max_batch_size
      64 --use_inflight_batching --max_input_len 2000 --max_output_len 2000 --paged_kv_cache
    cmd: examples/llama/build.py
  example_model_input: {"messages": [{"role": "user", "content": "What is the mistral wind?"}]}
  pipeline_parallelism: 1
  tags:
  - text-generation
  - openai-compatible
  tensor_parallelism: 1
  tokenizer_repository: mistralai/Mistral-7B-Instruct-v0.2
model_name: Mistral 7B Instruct v0.2 TRT
python_version: py311
requirements:
- tritonclient[all]
- pynvml==11.5.0
resources:
  accelerator: A100
  use_gpu: true
runtime:
  predict_concurrency: 256
