torch==2.1.0
transformers==4.37.2
librosa==0.10.1
tqdm==4.66.2
tiktoken==0.5.1
audiocraft==1.2.0
numpy==1.24.4
tyro==0.7.3
DeepFilterNet==0.5.6
pydub==0.25.1
soundfile==0.12.1
huggingface-hub==0.20.3
scipy==1.12.0
https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.3/flash_attn-2.5.3+cu122torch2.1cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
git+https://github.com/metavoiceio/metavoice-src.git@182ec712a10b42440bd9e9346a17381e8664256e