external_package_dirs: []
description: Deploy a ComfyUI workflow as a Truss
model_metadata:
  example_model_input: {"workflow_values": {"positive_prompt": "An igloo on a snowy day, 4k, hd", "negative_prompt": "blurry, text, low quality", "controlnet_image": "https://storage.googleapis.com/logos-bucket-01/baseten_logo.png"}}
model_name: comfyui-truss
python_version: py310
requirements:
  - websocket-client==1.6.4
  - torch==2.1.0
  - torchsde==0.2.6
  - torchvision==0.16.0
  - einops==0.7.0
  - transformers==4.34.1
  - safetensors==0.4.0
  - aiohttp==3.8.6
  - accelerate==0.23.0
  - pyyaml>=6.0.0
  - Pillow==10.1.0
  - scipy==1.11.3
  - tqdm==4.66.1
  - psutil>=5.9.4
resources:
  cpu: "3"
  memory: 14Gi
  use_gpu: true
  accelerator: T4
system_packages: []
