build_commands: []
environment_variables: {}
external_package_dirs: []
model_metadata:
  tags:
    - openai-compatible
  example_model_input:
    {
      messages:
        [
          {
            role: "user",
            content: "Which is heavier, a pound of bricks or a pound of feathers?",
          },
        ],
      stream: true,
      max_tokens: 1024,
      temperature: 0.6,
      top_p: 1.0,
      top_k: 40,
      frequency_penalty: 1,
    }
  repo_id: deepseek-ai/DeepSeek-R1-Distill-Llama-70B
model_name: DeepSeek R1 Distill Llama 70B
python_version: py39
requirements: []
resources:
  accelerator: H100:2
  cpu: "1"
  memory: 24Gi
  use_gpu: true
secrets:
  hf_access_token: set token in baseten workspace
system_packages: []
trt_llm:
  build:
    base_model: decoder
    checkpoint_repository:
      repo: deepseek-ai/DeepSeek-R1-Distill-Llama-70B
      source: HF
    num_builder_gpus: 4
    quantization_type: fp8_kv
    max_seq_len: 131072
    tensor_parallel_count: 2
    plugin_configuration:
      use_paged_context_fmha: true
      use_fp8_context_fmha: true
      paged_kv_cache: true
  runtime:
    batch_scheduler_policy: max_utilization
    enable_chunked_context: true
    request_default_max_tokens: 131072
