build_commands: []
environment_variables: {}
external_package_dirs: []
model_metadata:
  example_model_input:
    input: 'ERROR: This redirects to the embedding endpoint. Use the /sync API to
      reach /sync/rerank'
model_name: BEI-baai-bge-reranker-v2-m3-multilingual-truss-example
python_version: py39
requirements: []
resources:
  accelerator: A100
  cpu: '1'
  memory: 10Gi
  use_gpu: true
secrets: {}
system_packages: []
trt_llm:
  build:
    base_model: encoder
    checkpoint_repository:
      repo: BAAI/bge-reranker-v2-m3
      revision: main
      source: HF
    max_num_tokens: 16384
    max_seq_len: 1000001
