model_name: "Gemma 2 9B Instruct VLLM"
python_version: py311
model_metadata:
  example_model_input: {"prompt": "what is the meaning of life"}
  repo_id: google/gemma-2-9b-it
  tensor_parallel: 1
requirements:
  - vllm==0.5.1
  - https://github.com/flashinfer-ai/flashinfer/releases/download/v0.0.8/flashinfer-0.0.8+cu121torch2.3-cp311-cp311-linux_x86_64.whl
resources:
  accelerator: H100
  use_gpu: true
runtime:
  predict_concurrency: 128
secrets:
  hf_access_token: null
