description: "zai-org/GLM-4.5-Air-FP8 for text generation"
model_metadata:
  repo_id: "zai-org/GLM-4.5-Air-FP8"
  example_model_input: # Loads sample request into Baseten playground
    messages:
      - role: system
        content: "You are a helpful assistant."
      - role: user
        content: "Write FizzBuzz in Python"
    stream: true
    model: "baseten-sglang"
    max_tokens: 4096
    temperature: 0.6
  tags:
    - openai-compatible
model_name: GLM 4.5 Air FP8
base_image:
  image: lmsysorg/sglang:v0.4.9.post6-cu126
docker_server:
  start_command: sh -c "python3 -m sglang.launch_server --model-path zai-org/GLM-4.5-Air-FP8 --tp-size 4   --tool-call-parser glm45    --reasoning-parser glm45    --speculative-algorithm EAGLE   --speculative-num-steps 3    --speculative-eagle-topk 1    --speculative-num-draft-tokens 4   --mem-fraction-static 0.7   --disable-shared-experts-fusion   --served-model-name glm-4.5-air-fp8   --host 0.0.0.0   --port 8000"
  readiness_endpoint: /health
  liveness_endpoint: /health
  predict_endpoint: /v1/chat/completions
  server_port: 8000
resources:
  accelerator: H100:4
  use_gpu: true
runtime:
  predict_concurrency: 32
