model_name: "Llama 3.1 8B Instruct VLLM"
python_version: py311
model_metadata:
  example_model_input: {"prompt": "what is the meaning of life"}
  repo_id: meta-llama/Meta-Llama-3.1-8B-Instruct
  tensor_parallel: 1
requirements:
  - vllm==0.6.0
model_cache:
  - repo_id: meta-llama/Meta-Llama-3.1-8B-Instruct
    ignore_patterns:
      - "original/*"
      - "*.pth"
resources:
  accelerator: H100_40GB
  use_gpu: true
runtime:
  predict_concurrency: 128
secrets:
  hf_access_token: null
