base_image:
  image: nvcr.io/nvidia/pytorch:23.11-py3
  python_executable_path: /usr/bin/python
description: Generate original images from text prompts.
environment_variables: 
  HF_HUB_ENABLE_HF_TRANSFER: 1
external_package_dirs: []
model_metadata:
  example_model_input: {"prompt": "A tree in a field under the night sky", "use_refiner": True}
  pretty_name: Stable Diffusion XL
  avatar_url: https://cdn.baseten.co/production/static/stability.png
  cover_image_url: https://cdn.baseten.co/production/static/sd.png
  tags:
  - image-generation
model_name: Stable Diffusion XL - TensorRT
model_framework: custom
model_type: custom
python_version: py39
system_packages:
- python3.10-venv
- ffmpeg
- libsm6
- libxext6
requirements:
- accelerate
- colored
- cuda-python
- ftfy
- nvtx
# [Important] This version is necessary
- opencv-python==4.8.0.74
- scipy
- transformers==4.31.0
- safetensors
- hf_transfer
# [Important] trt may not work with all versions, this version is important
- diffusers==0.23.1
- invisible-watermark>=0.2.0
# [Important] Make sure nvidia packages are at the end
- --extra-index-url https://pypi.ngc.nvidia.com
- polygraphy
- --extra-index-url https://pypi.nvidia.com
- tensorrt==8.6.1.post1
resources:
  accelerator: A100
  use_gpu: true
secrets: {}
runtime:
  predict_concurrency: 1
