name: PR

on:
  pull_request:

concurrency:
  group: pr-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11.4'
      - run: pip install truss pre-commit
      - run: pre-commit run --all-files
