name: Push 02-llm

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/basetenlabs/truss.git --upgrade

      - name: Push 02-llm
        env:
          BASETEN_API_KEY: ${{ secrets.BASETEN_API_KEY }}
        run: truss push 02-llm --trusted
