name: Truss Examples CI

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure trussrc
        env:
          BASETEN_API_KEY: ${{ secrets.BASETEN_API_KEY }}
        run: |
          echo $BASETEN_API_KEY > api_key.txt
