name: Truss Examples CI

on:
  schedule:
    # Runs daily at 6am UTC
    - cron: '0 6 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Python environment
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: '3.11.4'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/basetenlabs/truss.git pyyaml --upgrade
      - name: Run local validation (test_all.py)
        run: |
          python _internal/bin/test_all.py

  generate_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      tests: ${{ steps.generate-matrix.outputs.tests }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: '3.11.4'
      - run: pip install pyyaml
      - name: Generate all tests that need to be run
        id: generate-matrix
        run: |
          TESTS=$(python _internal/bin/discover_examples.py)
          echo "tests=$TESTS" >> $GITHUB_OUTPUT

  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - validate
      - generate_tests
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        test: ${{ fromJSON(needs.generate_tests.outputs.tests) }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Python environment
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: '3.11.4'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/basetenlabs/truss.git requests tenacity --upgrade
      - name: Test ${{ matrix.test }}
        run: |
          python _internal/bin/test_example.py ${{ secrets.BASETEN_API_KEY }} ${{ matrix.test }}

  report_to_slack:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: always() && github.ref == 'refs/heads/main'
    needs:
      - ci
    steps:
      - name: Report CI result
        uses: 8398a7/action-slack@77eaa4f1c608a7d68b38af4e3f739dcd8cba273e # v3.19.0
        with:
          status: custom
          fields: author, job, commit, repo
          custom_payload: |
            {
              attachments: [{
                color: "${{ needs.ci.result == 'failure' && 'danger' || 'good' }}",
                text: `Truss Examples CI Result: ${{ needs.ci.result }}: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
